{% extends "dl_mp3/base_m.html" %}

{% block sub_content %}
    <form id="id-chagne-password-form" method="POST" action="{% url 'change_password' %}" class="sign-in-form">
        {% csrf_token %}
        <div class="form-group">
            <label class="dy-input-label" for="{{ form.old_password.id_for_label }}">元のパスワード:</label>
            <input class="form-control" name="{{ form.old_password.html_name }}"
                   id="{{ form.old_password.id_for_label }}"
                   type="password">
            {% if form.errors.old_password %}
                <span class="dy-errer-msg">{{ form.errors.old_password }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="dy-input-label" for="{{ form.new_password1.id_for_label }}">新しいパスワード:</label>
            <input class="form-control" name="{{ form.new_password1.html_name }}"
                   id="{{ form.new_password1.id_for_label }}"
                   type="password"><br>
            {% if form.errors.new_password1 %}
                <span class="dy-errer-msg">{{ form.errors.new_password1 }}</span>
                <span class="helptext"></span>
            {% else %}
                <span class="helptext">
                    <ul>
                        <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
                        <li>パスワードは最低 8 文字以上必要です。</li>
                        <li>よく使われるパスワードにはできません。</li>
                        <li>数字だけのパスワードにはできません。</li>
                    </ul>
                </span>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="dy-input-label" for="{{ form.new_password2.id_for_label }}">新しいパスワード(確認用):</label>
            <input class="form-control" name="{{ form.new_password2.html_name }}"
                   id="{{ form.new_password2.id_for_label }}"
                   type="password">
            {% if form.errors.new_password2 %}
                <span class="dy-errer-msg">{{ form.errors.new_password2 }}</span>
            {% endif %}
        </div>
        <input type="submit" class="save btn btn-success" value="パスワードの変更">
    </form>

{% endblock %}