{% extends "dl_mp3/base_site.html" %}
{% load i18n static %}

{% block title %}MP3解析サイト{% endblock %}

{% block content %}

    <div id="form-area">

        <h1>MP3解析サイト</h1>

        {% if login != 2 %}
            <form action="{% url 'login' %}" method="post" id="login-form">{% csrf_token %}
                <input type="text" name="{{ form.username.html_name }}" placeholder="ユーザーID"
                        {% if form.errors %} class="error-border form-border" {% endif %} >
                <input type="password" name="{{ form.password.html_name }}" placeholder="パスワード"
                        {% if form.errors %} class="error-border form-border error-border-bottom" {% endif %}>
                <input type="submit" id="form-btn" value="ログイン">
            </form>
        {% else %}
            <input type="text" name="{{ form.username.html_name }}" placeholder="ユーザーID">
            <input type="password" name="{{ form.password.html_name }}" placeholder="パスワード">
            <input type="submit" id="form-btn" value="ログイン">
        {% endif %}
        {% if login != 2 %}
            {% if form.errors %}
                <div id="msg-area">
                    <div class="error-text center">ログイン情報が間違っています。</div>
                </div>
            {% endif %}
        {% else %}
            <div id="msg-area">
                <div class="error-text center">ログイン制限中</div>
            </div>
        {% endif %}
    </div>

{% endblock %}
