{% extends "dl_mp3/layout.html" %}
{% block content %}
    <div class="dy-container-m">
        <div class="dy-contents">
            <div>
                <a class="dy-nav" href="{% url 'login' %}"><span>ログイン</span></a>
            </div>
            {% if validlink %}

                <p>確認のために、新しいパスワードを二回入力してください。</p>

                <form method="post">{% csrf_token %}
                    <div class="form-group">
                        <label class="dy-input-label" for="{{ form.new_password1.id_for_label }}">新しいパスワード:</label>
                        <input class="form-control" name="{{ form.new_password1.html_name }}"
                               id="{{ form.new_password1.id_for_label }}"
                               type="password"><br>
                        {% if form.errors.new_password1 %}
                            <span class="dy-errer-msg">{{ form.errors.new_password1 }}</span>
                            <span class="helptext"></span>
                        {% else %}
                            <span class="helptext">
                        <ul>
                            <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
                            <li>パスワードは最低 8 文字以上必要です。</li>
                            <li>よく使われるパスワードにはできません。</li>
                            <li>数字だけのパスワードにはできません。</li>
                        </ul>
                    </span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="dy-input-label" for="{{ form.new_password2.id_for_label }}">新しいパスワード(確認用):</label>
                        <input class="form-control" name="{{ form.new_password2.html_name }}"
                               id="{{ form.new_password2.id_for_label }}"
                               type="password">
                        {% if form.errors.new_password2 %}
                            <span class="dy-errer-msg">{{ form.errors.new_password2 }}</span>
                        {% endif %}
                    </div>
                    <input type="submit" class="save btn btn-success" value="パスワードの変更">
                </form>

            {% else %}

                <p>パスワードリセットのリンクが不正です。おそらくこのリンクは既に使われています。もう一度パスワードリセットしてください。</p>

            {% endif %}
        </div>
    </div>
{% endblock %}
