{% extends "dl_mp3/layout.html" %}

{% block content %}
    <div class="dy-container-m">
        <div class="dy-contents">
            <div>
                <a class="dy-nav" href="{% url 'login' %}"><span>ログイン</span></a>
            </div>
            <p>パスワードを忘れましたか?<br>
                メールアドレスを以下に入力すると、新しいパスワードの設定方法をお知らせします。</p>

            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <label class="dy-input-label" for="{{ form.email.id_for_label }}">メールアドレス:</label>
                    <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="120"
                           name="{{ form.email.html_name }}" type="email"/>
                    {% if form.errors.email %}
                        <span class="dy-errer-msg">{{ form.errors.email }}</span>
                    {% endif %}
                </div>
                <input type="submit" class="save btn btn-success" value="パスワードをリセット"/>
            </form>
        </div>
    </div>
{% endblock %}
