@charset "utf-8";
/* ==================== 全体 ==================== */

html,body,ul,h1,h2,form,input,a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f5f5f8;
}

.table-scroll {
	overflow-y: auto;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th,td {
	font-weight: normal;
	padding: 15px;
	border: 1px solid #b2b2b2;
	color: #555;
}
th {
	background: #ebecf2;
}
td {
	background: #fff;
}
input[type=text],input[type=password] {
	font-size: 16px;
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}

/* エラー、メッセージ文 */
.error-border {
	border-color: #f44336 !important;
}
.error-border-bottom {
	border-bottom: 2px solid #f44336 !important;
}
.form-border {
	border-top-width: 2px !important;
	border-right-width: 2px !important;
	border-left-width: 2px !important;
}
.table-border {
	border-width: 2px !important;
}
.error-text {
	line-height: 24px;
	color: #f44336;
}
.msg-text {
	color: green;
}
#msg-area {
	margin-top: 30px;
}


/* ==================== 管理画面ヘッダー ==================== */

#header {
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #b2b2b2;
	background: #ebecf2;
	color: #555;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
h1 a {
	color: #555;
	text-decoration: none;
	cursor: pointer;
}

/* モーダルメニュー */
#menu {
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 5px 20px;
	font-size: 16px;
	color: #555;
	cursor: pointer;
}
#menu2 {
	position: relative;
	display: none;
	padding: 20px 0;
	outline: 0;
	border-style: solid;
	border-color: #b2b2b2;
	border-width: 0 0 1px 0;
	background: #ebecf2;
	color: #555;
	font-size: 16px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	z-index: 95;
}
#menus {
	display: none;
	position: absolute;
	top: 50px;
	right: 20px;
	border-style: solid;
	border-color: #b2b2b2;
	border-width: 1px 1px 0;
	background: #fff;
	width: 200px;
	z-index: 100;
}
#menus_out {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 90;
}
#import,#settings {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(50,50,50,0.7);
	z-index: 100;
}
.window-inner {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
#import:target,#settings:target {
	display: table;
}

#menus a {
	display: block;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	color: #333;
	border-style: solid;
	border-color: #b2b2b2;
	border-width: 0 0 1px 0;
}
#menus a:hover {
	background: #0076d7;
	color: #fff;
}
#menus .ctrl {
	padding: 0 !important;
}

.modal {
	margin: auto;
	width: 360px;
	background: #fff;
	color: #555;
}
#settings .ctrl {
	padding-bottom: 15px !important;
}
.modal .caption {
	position: relative;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #b2b2b2;
	background: #ebecf2;
	color: #555;
}
.modal .exit {
	position: absolute;
	right: 15px;
	cursor: pointer;
}
.modal .button {
	border-top: 1px solid #b2b2b2;
	text-align: right;
	padding: 10px;
}
.modal .button input {
	margin-right: 10px;
	padding: 5px;
	width: 100px;
	color: #555;
}
.modal .ctrl {
	padding: 0 40px 50px;
}
.modal .ctrl th {
	width: 20px;
}
.modal .ctrl label {
	display: block;
}
.modal .ctrl .msg-text {
	margin-top: 30px;
}

/* ==================== 画面内部 ==================== */

#main {
	padding: 30px 50px;
	color: #555;
}

h2 {
	font-size: 15px;
	font-weight: normal;
	margin: 70px 0 20px;
}

#main .input-table td {
	padding: 0 !important;
}
#main .button {
	width: 150px;
	text-align: center;
	padding: 0 !important;
}
#main .button input {
	padding: 5px;
	width: 100px;
}
#main .input {
	padding: 10px;
	height: 55px;
	width: 100%;
	-webkit-appearance: none;
	border-radius: 0;
	border: 0;
}
#main input:focus {
	border: 0;
}

/* ページネーション */
.pagi {
	margin-top: 20px;
	text-align: center;
}
.pagi a {
	margin: 0 5px;
	padding: 5px 8px;
	background: #fff;
	color: #0076d7;
	border: 1px solid #b2b2b2;
	text-decoration: none;
}
.pagi ul {
	display: inline-flex;
}
.pagi li {
	display: inherit;
}
.pagi a:hover,.pagi .cur {
	margin: 0 5px;
	padding: 5px 8px;
	border: 1px solid #b2b2b2;
	text-decoration: none;
	background: #0076d7;
	color: #fff;
}
.pagi .disabled {
	margin: 0 5px;
	padding: 5px 8px;
	background: #fff;
	color: #0076d7;
	border: 1px solid #b2b2b2;
	text-decoration: none;
}

/* リスト */
#list {
	word-break: break-all;
}
#cell-1 {
	width: 60px;
}
#cell-2 {
	width: 320px;
}
#cell-3 {

}
#cell-4 {
	width: 120px;
}


/* ==================== ログイン、登録ページ ==================== */

#form-area {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 300px;
	width: 320px;
	font-size: 14px;
}
#form-area h1 {
	margin: 0 auto 20px;
	font-size: 26px;
	color: #0076d7;
}
#form-area input {
	display: block;
	-webkit-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-color: #b2b2b2;
	border-width: 1px 1px 0 1px;
	margin: 0 auto;
	padding: 15px 10px;
	width: 320px;
	color: #555;
}
#form-area input:focus {
	border-color: #0076d7;
	border-width: 2px;
}
#form-btn {
	border-width: 0 !important;
	font-weight: bold;
	background: #0076d7;
	color: #fff !important;
	cursor: pointer;
}

/* ==================== 登録完了ページ ==================== */

#thanks {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 200px;
	width: 300px;
	padding: 40px 20px;
	border: 1px solid #b2b2b2;
	background: #fff;
	color: #555;
	text-align: center;
	line-height: 30px;
}
#thanks h1 {
	margin-bottom: 50px;
	font-size: 24px;
	color: #0076d7;
}


/* ==================== 制限ページ ==================== */

.logout {
	padding: 10px 20px;
	text-align: right;
}
.logout input {
	padding: 5px 20px;
}

#limit-content {
	margin-top: 50px;
}
#limit-content h1 {
	font-size: 24px;
	color: #0076d7;
}
#limit-content .article {
	margin: 30px auto;
	background: #fff;
	border: 1px solid #b2b2b2;
	color: #555;
	text-align: center;
	min-height: 300px;
	width: 300px;
}


/* ==================== 登録画面OFFページ ==================== */

#regist-off {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	padding: 100px 0;
	background: #fff;
	border: 1px solid #b2b2b2;
	height: 50px;
	width: 300px;
}

#regist-off h1 {
	font-size: 24px;
	color: #0076d7;
}


/* ==================== フッター ==================== */

#footer {

}


/* ==================== レスポンシブ ==================== */

@media screen and (max-width: 600px) {

	/* スマホ用 */
	#menu { display: none; }
	#menu2 { display: block; }
	#menus {
		display: none;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		border: 0;
	}
	#header { z-index: 95; }
	#menus_out { background: rgba(50,50,50,0.7); }
	.modal { width: 80%; }
	.modal th,.modal td { padding: 10px 15px; }
	#thanks { width: 80%; }
	#limit-content .article { width: 90%; }
	::-webkit-input-placeholder { font-size: 14px; }
	::-moz-placeholder { font-size: 14px; }

	#main { padding: 30px 10px !important; }
}

.pagination {
	display: inherit;
}